<!DOCTYPE html>
<html lang="en" xml:lang="en">
    <head>
        <title>WishList</title>

        <!-- Handles styling the page to be more aesthetically pleasing -->
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css" />
    </head>

    <body>
        <!-- Where view content will be rendered -->
        <div class="col-sm-12">
            @RenderBody()
        </div>

        <!-- Needed for client side validation, dialogs, etc -->
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js" integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js" integrity="sha384-VoqiBWkuPrBO9LiESm+GubN/lYlsaMFUVN46L4g4k9bNmY9grTBw8AQZDrhAr7bT"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js" integrity="sha384-JrXK+k53HACyavUKOsL+NkmSesD2P+73eDMrbTtTk0h4RmOF8hF8apPlkp26JlyH"></script>
    </body>
</html>